#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}

.clsMaterialtab .MuiAppBar-colorPrimary {
    background-color: #D8F4F7 !important;
    color: #03606a !important;
}

.clsMaterialtab .MuiTabs-indicator {
    /* background-color: #ffe49f; */
    background-color: #03606a;
}

.clsMaterialtab .MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color: #ffe49f80;
}

.clsMaterialtab .MuiCheckbox-colorPrimary.Mui-checked {
    color: #03606a;
}

.clsMaterialtab .MuiBox-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-columnsContainer {
    /* background-color: #ffe49f; */
}

.MuiDataGrid-columnHeaderTitle {
    color: #03606a !important;
}

.MuiDataGrid-root {
    border: none !important;
    box-shadow: 0px 2px 4px #00000024, 0px 0px 2px #0000001f;
}
.spinnerBackground{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: #03606a66;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clsFilters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid;
    padding: 10px;
    width: 70%;
}

.clsFilterdropdowns {
    margin-right: 15px;
    min-width: 200px;
}